[Unit]
Description=SSH server for LXD containers
After=network.target

[Service]
EnvironmentFile=-/etc/sysconfig/ssh2lxd
ExecStart=/bin/ssh2lxd $ARGS
KillMode=mixed
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=multi-user.target
